h1 {color:brown;}
h1 {font-size: 65px;}
h1 {font-family: 'Times New Roman', Times, serif}
h2 {color:rgb(255, 95, 2);}
h2 {font-size: 25px;}
body {background-color:rgb(245, 220, 181)}
body {margin: 50px 50px 50px 50px;}
p {margin: 30px 30px 30px 30px;}
